<form id="ModalForm" action="" method="post" novalidate>
  {{ form.hidden_tag() }}
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="close">
      <span aria-hidden="true">&times;</span>
    </button>
    <h4 class="modal-title">{{ title }}</h4>
  </div>
  <div class="modal-body">

    <p>
      {{ form.email.label }}<br>
      {{ form.email(style='width: 100%;') }}
    </p>
    <p>
      <label>Почтовые оповещения:</label>
      {% if current_user.is_send_email == 't' %}
        <input style="zoom: 1.35;" class="form-check-input" type="checkbox" id="sendEmailChecked" name="Email" checked>
      {% else %}
        <input style="zoom: 1.35;" class="form-check-input" type="checkbox" id="sendEmail" name="Email">
      {% endif %}
    </p>

  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
    <button id="submit" type="submit" class="btn btn-success">OK</button>
  </div>
</form>

<script>
    //Отключение оповещений по почте
    $("input[type=checkbox]").on("change", function() {

        const sSendEmail = $(this).prop("checked") ? "t" : "f";

        $.post('/is_send_email', {
            value_send_email: sSendEmail
        }).done(function(response) {
            console.log('success set is send email');
        }).fail(function() {
            console.log('fail set is send email');
        });

    });
</script>