<style>
    .div-hover {
        width: 100%;
        height: 100%;
        border: 3px solid #fff; /* Белая рамка */
        border-radius: 10px; /* Радиус скругления */
        display: inline-block;
        border: 2px solid transparent; /* Невидимая рамка */,
        cursor: move;
    }
    .div-hover:hover {
        border: 2px solid #21c1cc; /* рамка */
    }
    .div-hover:active {
        cursor: grabbing;
    }
    .selected {
        opacity: 0.6;
    }
</style>
<div id="{{ task_td.id }}" class="div-hover" draggable="true">
    {% if task_td.id_status == 1 %}
        {% if task_td.id_complexity == 1 %}
            <span style="border-radius: 100%; background: green; opacity: .7;">&nbsp;&nbsp;&nbsp;&nbsp;</span>
        {% elif task_td.id_complexity == 2 %}
            <span style="border-radius: 100%; background: #dbc500; opacity: .7;">&nbsp;&nbsp;&nbsp;&nbsp;</span>
        {% elif task_td.id_complexity == 3 %}
            <span style="border-radius: 100%; background: red; opacity: .7;">&nbsp;&nbsp;&nbsp;&nbsp;</span>
        {% endif %}
        <a tabindex="-1" style="color: #092eb3; font-size: 110%; font-weight: bold;" href="{{ url_for('edit_task', id_task=task_td.id) }}">{{ task_td.title }}</a>
    {% endif %}
    {% if task_td.id_status == 2 %}
        {% if task_td.id_complexity == 1 %}
            <span style="border-radius: 100%; background: green; opacity: .7;">&nbsp;&nbsp;&nbsp;&nbsp;</span>
        {% elif task_td.id_complexity == 2 %}
            <span style="border-radius: 100%; background: #dbc500; opacity: .7;">&nbsp;&nbsp;&nbsp;&nbsp;</span>
        {% elif task_td.id_complexity == 3 %}
            <span style="border-radius: 100%; background: red; opacity: .7;">&nbsp;&nbsp;&nbsp;&nbsp;</span>
        {% endif %}
        <a style="color: #cf8c08; font-size: 110%; font-weight: bold;" href="{{ url_for('edit_task', id_task=task_td.id) }}">{{ task_td.title }}</a>
    {% endif %}
    {% if task_td.id_status == 3 %}
        {% if task_td.id_complexity == 1 %}
            <span style="border-radius: 100%; background: green; opacity: .7;">&nbsp;&nbsp;&nbsp;&nbsp;</span>
        {% elif task_td.id_complexity == 2 %}
            <span style="border-radius: 100%; background: #dbc500; opacity: .7;">&nbsp;&nbsp;&nbsp;&nbsp;</span>
        {% elif task_td.id_complexity == 3 %}
            <span style="border-radius: 100%; background: red; opacity: .7;">&nbsp;&nbsp;&nbsp;&nbsp;</span>
        {% endif %}
        <a class="text-success" style="font-size: 110%; font-weight: bold;" href="{{ url_for('edit_task', id_task=task_td.id) }}">{{ task_td.title }}</a>
    {% endif %}
    <span style="float: right; font-size: 90%; color: #7a7a7a; font-family: monospace;">{{ task_td.create_date }}</span>
    <br>
    {% if task_td.id_users %}
        {% if current_user.get_photo_by_username(current_user.get_user(task_td.id_users)) %}
            <span>Performer: <img src="{{ current_user.get_photo_by_username(current_user.get_user(task_td.id_users)) }}" width="20" height="20">{{ current_user.get_user(task_td.id_users) }}</span><br>
        {% else %}
            <span>Performer: <img src="/static/img/default.svg" width="20" height="20">{{ current_user.get_user(task_td.id_users) }}</span><br>
        {% endif %}
    {% endif %}
    {% if task_td.id_status == 3 and task_td.date_completion %}
        <span>Done: {{ task_td.date_completion }} </span><br>
    {% else %}
        {% if task_td.id_status != 3 %}
            <span>Deadline: {{ task_td.deadline }} </span><br>
        {% endif %}
    {% endif %}
    {% if task_td.create_user %}
        {% if current_user.get_photo_by_username(current_user.get_user(task_td.create_user)) %}
            <span>Author: <img src="{{ current_user.get_photo_by_username(current_user.get_user(task_td.create_user)) }}" width="20" height="20">{{ current_user.get_user(task_td.create_user) }}</span><br>
        {% else %}
            <span>Author: <img src="/static/img/default.svg" width="20" height="20">{{ current_user.get_user(task_td.create_user) }}</span><br>
        {% endif %}
    {% endif %}
</div>