<style>
    .div-hover {
        border: 3px solid #fff; /* Белая рамка */
        border-radius: 10px; /* Радиус скругления */
        display: inline-block;
        border: 2px solid transparent; /* Невидимая рамка */
    }
    .div-hover:hover {
        border: 2px solid #21c1cc; /* рамка */

    }
</style>
<div id="{{ task_td.id }}" class="div-hover">
    <a href="#">{{ task_td.title }}</a>
    {% if task_td.id_status != 3 %}
        <span style="position: relative; left: 100px;">{{ task_td.create_date }}</span>
    {% endif %}
    <br>
    <span>Performer: <img src="/static/images/default.svg" width="20" height="20">{{ current_user.get_user(task_td.id_users) }}</span><br>
    {% if task_td.id_status != 3 %}
        <span>Deadline: {{ task_td.deadline }} </span>
    {% endif %}
</div>