{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
    <link type="text/css" href="{{ url_for('static', filename='css/main_style.css')}}" rel="stylesheet" />
    <link type="text/css" href="{{ url_for('static', filename='css/style_tasks.css')}}" rel="stylesheet" />
    <script src="{{ url_for('static', filename='js/UpdateTask.js') }}" type="text/javascript"></script>
    <!-- Dynamic Modal -->
    <div class="modal fade post" id="Modal" tabindex="-1" role="dialog" aria-labelledby="FormModal" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">

            </div>
        </div>
    </div>
    <!-- End Dynamic Modal -->
    <h1>{{ _('Tasks') }}</h1>
    <a class="edit-modal-opener btn btn-primary" data-toggle="modal"
       data-whatever="{{ url_for('add_task') }}" href="#">{{ _('Add Task') }}</a>
    <a class="btn btn-danger" href="#">Вернуть</a>
    <a class="btn btn-warning" href="#">{{ _('To Work') }}</a>
    <a class="btn btn-success" href="#">{{ _('Done') }}</a>
    <a class="btn btn-dark" href="#">{{ _('Delete Task') }}</a>
  <!-- <input style="zoom: 1.35;" class="form-check-input" type="checkbox" id="filterAuthor" name="filterTask" value="author"><span style="font-size: 110%;">{{ _('My Tasks (I"m author)') }}</span>-->
  <!-- <input style="zoom: 1.35;" class="form-check-input" type="checkbox" id="filterPerformer" name="filterTask" value="performer"><span style="font-size: 110%;">{{ _('My Tasks (I"m performer)') }}</span>-->
<div class="tasks-menu">
    <div class="tasks-menu__filter">
        <form action="" class="tasks-menu__form">
            <select class="tasks-menu__select" name="" id="" >
                <option value="">Все задачи</option>
                <option value="">Мои задачи (Я автор)</option>
                <option value="">Мои задачи (Я исполнитель)</option>
            </select>
        </form>
    </div>
    <div class="tasks-menu__search">
        <form action="" class="tasks-input input">
            <input class="input__search" type="text">
        </form>
    </div>
</div>
{% if count_tasks.count_backlog > 0 or count_tasks.count_work > 0 or count_tasks.count_done > 0 %}
        <div class="table table-responsive post" style="border: 0px;">
            <table class="table table-borderless">
                <thead>
                    {% for item_status in status %}
                        <th style="border: 0px;">
                            {% if item_status.name == "Готово" %}
                                <span class="span-title-column-table span-status span-status-done">
                                    {{ item_status.name }}
                                </span>
                                <span class="span-title-column-table">
                                    {{ count_tasks.count_done }}
                                </span>
                                <span>
                                    <a id="hide_done" class="close" href="#">
                                        <svg width="30" height="30" viewBox="0 0 30 30" fill="#333" xmlns="http://www.w3.org/2000/svg">
<path fill-rule="evenodd" clip-rule="evenodd" d="M10.4287 9.23864L15.7549 14.4239C16.0817 14.7421 16.0817 15.2579 15.7549 15.5761L10.4287 20.7614C10.1019 21.0795 9.57197 21.0795 9.24513 20.7614C8.91829 20.4432 8.91829 19.9273 9.24513 19.6091L13.9795 15L9.24513 10.3909C8.91829 10.0727 8.91829 9.55683 9.24513 9.23864C9.57197 8.92045 10.1019 8.92045 10.4287 9.23864Z" />
<path fill-rule="evenodd" clip-rule="evenodd" d="M19.5713 9.23864L14.2451 14.4239C13.9183 14.7421 13.9183 15.2579 14.2451 15.5761L19.5713 20.7614C19.8981 21.0795 20.428 21.0795 20.7549 20.7614C21.0817 20.4432 21.0817 19.9273 20.7549 19.6091L16.0205 15L20.7549 10.3909C21.0817 10.0727 21.0817 9.55683 20.7549 9.23864C20.428 8.92045 19.8981 8.92045 19.5713 9.23864Z" />
</svg>
                                    </a>
                                </span>
                            {% elif item_status.name == "В работе" %}
                                <span class="span-title-column-table span-status span-status-work">
                                    {{ item_status.name }}
                                </span>
                                <span class="span-title-column-table">
                                    {{ count_tasks.count_work }}
                                </span>
                                <span>
                                    <a id="show_done" class="btn-hide-show btn-hide-show-column-work" href="#"><svg width="19" height="17" viewBox="0 0 19 17" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M17.6602 7.48C18.2235 7.48 18.6802 7.93667 18.6802 8.5C18.6802 9.06333 18.2235 9.52 17.6602 9.52L17.6602 7.48ZM0.61891 9.22129C0.220573 8.82295 0.220572 8.17712 0.618906 7.77879L7.11013 1.28753C7.50847 0.889198 8.15429 0.889197 8.55263 1.28753C8.95097 1.68587 8.95097 2.33169 8.55263 2.73003L2.78265 8.50003L8.55266 14.27C8.95099 14.6683 8.951 15.3142 8.55266 15.7125C8.15433 16.1108 7.5085 16.1108 7.11016 15.7125L0.61891 9.22129ZM17.6602 9.52L1.34016 9.52004L1.34015 7.48004L17.6602 7.48L17.6602 9.52Z" fill="#2D2D2D"/>
</svg>
</a>
                                </span>
                            {% else %}
                                <span class="span-title-column-table span-status span-status-backlog">
                                    {{ item_status.name }}
                                </span>
                                <span class="span-title-column-table">
                                    {{ count_tasks.count_backlog }}
                                </span>
                            {% endif %}
                        </th>
                    {% endfor %}
                </thead>
                <tbody>
                    {% for task_tr in tasks %}
                        <tr>
                            {% for task_td in task_tr %}
                                {% if task_td != 0 %}
                                    <td style="border: 0px">{% include '_task.html' %}</td>
                                {% else %}
                                    <td style="border: 0px"></td>
                                {% endif %}
                            {% endfor %}
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    {% endif %}
{% endblock %}

{% block scripts %}
    {{ super() }}
    <script>
        initMoveTask();
    </script>
{% endblock %}