{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
    <!-- Dynamic Modal -->
    <div class="modal fade" id="Modal" tabindex="-1" role="dialog" aria-labelledby="FormModal" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">

            </div>
        </div>
    </div>
    <!-- End Dynamic Modal -->
    <h1>Tasks</h1>
    <a class="edit-modal-opener btn btn-primary" data-toggle="modal"
       data-whatever="{{ url_for('add_task') }}" href="#">Add Task</a>
    <a class="btn btn-warning" href="#">To Work</a>
    <a class="btn btn-success" href="#">Done</a>
    <br>
    <div class="table-responsive ">
        <table class="table table-bordered border-primary table-hover">
            <thead>
                {% for item_status in status %}
                    <th> {{ item_status.name }} </th>
                {% endfor %}
            </thead>
            <tbody>
                {% for task_tr in tasks %}
                    <tr>
                        {% for task_td in task_tr %}
                            {% if task_td != 0 %}
                                <td>{% include '_task.html' %}</td>
                            {% else %}
                                <td></td>
                            {% endif %}
                        {% endfor %}
                    </tr>
                {% endfor %}
            </tbody>
            <tfoot>
                <tr>
                    <td>Total: {{ count_tasks.count_backlog }}</td>
                    <td>Total: {{ count_tasks.count_work }}</td>
                    <td>Total: {{ count_tasks.count_done }}</td>
                </tr>
            </tfoot>
        </table>
    </div>
{% endblock %}