{% extends "base.html" %}
{% from 'bootstrap/wtf.html' import wtf %}

{% block content %}
    <table>
        <tr valign="top">
            <td><img src="/static/images/default.svg" width="120" height="120"></td>
            <td>
                <h1>User: {{ user.username }}</h1>
                {% if current_user.is_authenticated %}
                    {% if not current_user.is_family(user) %}
                        <p>У вас нет семьи</p>
                        <p><a class="edit-modal-opener" data-toggle="modal"
                              data-whatever="{{ url_for('search') }}" href="#">Search user</a></p>
                    {% else %}
                        <p>У вас есть семья c {{ current_user.get_partner(user) }}</p>
                    {% endif %}
                {% endif %}
            </td>
        </tr>
    </table>
{% endblock %}